<!DOCTYPE html>

<html lang="ja"><head><meta charset="UTF-8">

  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  <title>メインメニュー</title>

</head>

{% if mode == 1 %}
    {% if user_id <= 5 %}
        <body bgcolor="#FFFFCC">
    {% else %}
        <body bgcolor="#CCFFCC">
    {% endif %}
{% else %}
    {% if user_id <= 5 %}
        <body bgcolor="#CCCCFF">
    {% else %}
        <body bgcolor="#CCFFFF">
    {% endif %}
{% endif %}

<div class="content">
    <h2 style="text-align:center;"><b><ul>メインメニュー</ul></b></h2>
    <h3 style="text-align:center;"><b><ul>【一問一答】</ul></b></h3>
        <form action="makeExam3" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <div id="main0" >
            <div class="row">
                <div class="six cols" >
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="91" style="color:black;background:#FFCCCC">
                                サービスの基本概念<br>［時間:1分30秒 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="92" style="color:black;background:#FFE7A3">
                                従うべき原則<br>［時間:1分30秒 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="93" style="color:black;background:#FFFF88">
                                ４つの側面<br>［時間:1分30秒 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="94" style="color:black;background:#AAFFAA">
                                サービスバリュー・システム<br>［時間:1分30秒 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main2">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="95" style="color:black;background:#AAFFFF">
                                サービスバリューチェーン<br>［時間:1分30秒 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="96" style="color:black;background:#CCECFF">
                                主要プラクティスの目的<br>［時間:1分30秒 / 1問］
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="97" style="color:black;background:#E0D5FF">
                                重要プラクティス<br>［時間:1分30秒 / 1問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <hr size="3" noshade="">
        <h3 style="text-align:center;"><b><ul>【7分野別確認問題】</ul></b></h3>
        <form action="makeExam" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <div id="main3">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="10" style="color:black;background:#FF9F9F">
                                サービスの基本概念<br>［時間:7分30秒 / 5問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <input type="hidden" name="user_id" value={{ user_id }} />
                            <button class="top-buttons" type="submit" name="category" value="20" style="color:black;background:#FFC107">
                                従うべき原則<br>［時間:7分30秒 / 5問］
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <input type="hidden" name="user_id" value={{ user_id }} />
                            <button class="top-buttons" type="submit" name="category" value="30" style="color:black;background:#FFFF43">
                                ４つの側面<br>［時間:7分30秒 / 5問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <input type="hidden" name="user_id" value={{ user_id }} />
                            <button class="top-buttons" type="submit" name="category" value="40" style="color:black;background:#81FF81">
                                サービスバリュー・システム<br>［時間:7分30秒 / 5問］
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main4">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="50" style="color:black;background:#7DFFFF">
                                サービスバリュー・チェーン<br>［時間:7分30秒 / 5問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="60" style="color:black;background:#75CAFF">
                                主要プラクティスの目的<br>［時間:7分30秒 / 5問］
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="70" style="color:black;background:#C2ACFF">
                                重要プラクティス<br>［時間:7分30秒 / 5問］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
                            <button class="top-buttons" type="submit" name="category" value="80" style="color:black;background:#FF9BFF">
                                全領域から<br>［時間:15分 / 10問］
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr size="3" noshade="">
        <div id="main5">
            <div class="row">
                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
{% if status >= 10 %}
                            <button class="top-buttons" type="submit" name="category" value="85" style="background:#A0A0A0" >
                                模擬試験【40問】<br>［時間：60分］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
    {% if status >= 30 %}
        模擬試験で５回以上、合格することができました。{% if mode == 1 %}修了試験{% else %}実力確認試験{% endif %}に挑戦することができます。
    {% else %}
        模擬試験に挑戦できるようになりました。
    {% endif %}
{% else %}
                            <button class="top-buttons" type="submit" name="category" value="01"
                                    style="background:#A0A0A0;color:#D0D0D0"
                                    onclick='alert("模擬試験に挑戦することはできません。");'>
                                    模擬試験【40問】<br>［時間：60分］
                            </button>

                        </div>
                        <div class="six mobile-two cols">
模擬試験には、まだ挑戦できません。
</script>
{% endif %}
                        </div>
                    </div>
                </div>

                <div class="six cols">
                    <div class="row">
                        <div class="six mobile-two cols">
{% if 30 <= status%}
                            <button class="top-buttons" type="submit" name="category" value="86" style="background:#D4AF37">
                                {% if mode == 1 %}修了試験{% else %}実力確認試験{% endif %}【40問】<br>［時間：60分］
                            </button>
                        </div>
                        <div class="six mobile-two cols">

    {% if status == 30 %}
        {% if mode == 1 %}修了試験{% else %}実力確認試験{% endif %}に挑戦できるようになりました。２回連続で合格すると終了です。
    {% elif status == 31 %}
        合格することができました。連続してもう一度、合格すると終了です。
    {% else %}
        おめでとうございます。終了しました。
    {% endif %}
{% else %}
                            <button class="top-buttons" type="submit" name="category" value="01"
                                    style="background:#D4AF37;color:#D0D0D0"
                                    onclick='alert("模擬試験に挑戦することはできません。");'>
                                {% if mode == 1 %}修了試験{% else %}実力確認試験{% endif %}【40問】<br>［時間：60分］
                            </button>
                        </div>
                        <div class="six mobile-two cols">
{% if mode == 1 %}修了試験{% else %}実力確認試験{% endif %}には、まだ挑戦できません。模擬試験に少なくとも5回の合格が必要です。
{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        </div>
        </div>

<div class="buttonwrap" style="display:inline-flex">
    <form action="makeExam" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="hidden" name="category" value="99">
        <input type="submit"value="管理画面"
               style="background:#f2f2f2;color:black;border:1">
    </form>


<form action="/logout" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="submit"value="ログアウト"
               style="background:#f2f2f2;color:black;border:1">
</form>
</div>
</div></body>
</html>